.Character 
    background-color: rgba(#fff, 80%);
    box-shadow: 2px 5px 0 rgba(#000, 3%);
    cursor: pointer;
    font-family: Abel, sans-serif;
    padding: 0 7% 10% 7%;
    position: relative;
    transition: box-shadow 200ms, background-color 250ms, transform 400ms;

    &:hover 
        box-shadow: 4px 10px rgba(#000, 3%);   
        background-color: #fff;
        transform: translate(-2px, -5px) scale(1.02);

    img 
        position: relative;
        left: -8%;
        width: 116.2%;

    h3 
        font-family: Abel, sans-serif;
        font-size: 24px;
        font-weight: normal;
        padding: 10px 0;


    p
        border-bottom: 1px solid rgba(#000, 30%);
        display: flex;
        font-size: 15px;
        padding: 16px 0;
        justify-content: space-between;

        span 
            color: rgba(#000, 70%);