@import './variables.styl'

.Characters 
    background-color: $lightBrown;
    padding: 10px 50px;
    text-align: center;

    h2 
        font-family: Abel;
        font-size: 30px;
        font-weight: normal;
        margin-bottom: 30px;

    .Characters-grid
        display: grid;
        grid-gap: 50px 30px;
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        margin-bottom: 50px;