@import './variables.styl'

header 
    background-color: $green;
    align-items center;
    display: flex;
    font-family: Abel, sans-serif;
    justify-content: space-between;
    padding: 10px 50px;

    h1 
        color: #111;
        display: inline-block;
        font-size: 32px;
        font-weight: normal;

    nav 
        display: flex;

        li 
            list-style: none;
            margin-right: 20px;


            a:not(last-child)
                padding: 0 10px;

            a
                color: #111;
                font-family: Abel, sans-serif;
                font-size: 22px;
                position: relative;
                text-decoration: none;
                transition: color 400ms;
                z-index: 1;

                &.active
                    color: #fefefe;
                    
                &:hover 
                    color: #fefefe;

                &:after 
                    display: block;
                    position: absolute;
                    bottom: 0;
                    top: 0;
                    right: 0;
                    left: 0;
                    margin: auto;
                    width: 100%;
                    height: 1px;
                    content: '.';
                    color: transparent;
                    background: darken($green, 30%);
                    visibility: none;
                    opacity: 0;
                    transition: all 300ms;
                    z-index: -1;

                &:hover:after,
                &.active:after
                    opacity: 1;
                    visibility: visible;
                    height: 180%;



@media (max-width: 700px) 
    header 
        display: block;
        padding: 10px 15px;
        text-align: center;

        h1 
            display: block;
            font-size: 24px;

        nav 
            display: block;


            li 
                border-bottom: 1px solid #111;
                padding: 5px 0;
                margin-right: 0;

                a
                    font-size: 16px;