@import './_navbar.styl'
@import './_home.styl'
@import './_list-pages.styl'
@import './_character.styl'
@import './_loader.styl'
@import './_single.styl'

*,
*:before,
*:after 
    box-sizing: border-box;
    margin: 0;
    padding: 0;


a 
    text-decoration: none;
    color: inherit;